<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>639484339298-q450qsqg6t7uopupiklago0me8mq0al7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.639484339298-q450qsqg6t7uopupiklago0me8mq0al7</string>
	<key>API_KEY</key>
	<string>AIzaSyChFexqq7iHsUAqZcZF3zOW0yrUD9o2dTI</string>
	<key>GCM_SENDER_ID</key>
	<string>639484339298</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hmsCallkit</string>
	<key>PROJECT_ID</key>
	<string>hms-callkit-dd0c9</string>
	<key>STORAGE_BUCKET</key>
	<string>hms-callkit-dd0c9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:639484339298:ios:e2e461e93cd90c217c9d3b</string>
</dict>
</plist>